{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Banner for the page -->
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Home Movies Catalog</h1>
		</div>
	</div>

<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>

	<div class="row padding-top padding-bottom">
		<!--New Movie Button-->
		<div class="col-md-1 padding-none">
			<a href="{{ url_for('createNewMovies') }}">
				<button class="btn btn-default">
					<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Add a new Movie
				</button>
			</a>
		</div>

		<section> <h2>Recent Movies</h2></section>

	</div>

<div>

	<!-- Categories menu for all movie categories -->
	<div class="col-md-2">
		Category
		<ul>
			{% for category in categories %}
				<a href="{{ url_for('showCategoryMovies', category = category.category)}}"><li>{{category.category}}</li></a>
			{% endfor %}
		</ul>
	</div>


	<!--List of Recent Movies added to the catalog-->

	{% for movie in movies %}
		<a href = "{{ url_for('showMoviePage', category = movie.category, movie_id = movie.id)}}"> <!-- edit later -->
				<div class="col-md-2"></div>
					<div class="col-md-10 movies-list">
						<h3>{{movie.name}}</h3>
					</div>
		</a>


	{% endfor %}
	</div>
{% endblock %}
