{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>{{movie.name}}</h1>
		</div>
	</div>

<div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-4 padding-none">
			<a href="{{url_for('createNewMovies')}}">
				<button class="btn btn-default">
					<span class="glyphicons glyphicons-film" aria-hidden="true"></span>Add a new Movie
				</button>
			</a>
		</div>

		<div class="col-md-4 padding-none">
				<a href="{{url_for('editMovies', category = movie.category, movie_id = movie.id)}}">
					<button class="btn btn-default">
						<span class="glyphicons glyphicons-film" aria-hidden="true"></span>Edit this Movie
					</button>
				</a>
			</div>

				<div class="col-md-4 padding-none">
				<a href="{{url_for('deleteMovies', category = movie.category, movie_id = movie.id)}}">
					<button class="btn btn-default">
						<span class="glyphicons glyphicons-film" aria-hidden="true"></span>Delete this Movie
					</button>
				</a>
				</div>
		</div>
</div>

	<!-- All the info for the movie -->
	<div class="movie">
		<div class="movie-item">Name:</div>
			{{movie.name}}<br>
		{% if movie.movie_poster != "" %}
		<img src="{{movie.movie_poster}}" height="420" width="420"><br>
		{% else %}
		<br>
		<br>
		{% endif %}

		<div class="movie-item">Category: </div>{{movie.category}}<br><br>
		{% if movie.description != "" %}
<div class="movie-item">Description:</div>{{movie.description}}<br>
		{% else %}
		{% endif %}

	</div>

	<!--  -->
{% endblock %}
