{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>places</h1>
		</div>
	</div>


	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newplace')}}">
				<button class="btn btn-default" id="new-place">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add a new Movie
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- All the info for the movie -->
	movie.name
	movie.movie_poster
	movie.category
	movie.description

	<!--  -->
{% endblock %}
